chromadb==1.5.5
sentence-transformers==5.3.0
langchain==1.2.12
langchain-core==1.2.19
langchain-community==0.4.1
langchain-huggingface
langchain-chroma
torch>=2.10.0
transformers>=5.3.0
huggingface-hub>=1.7.1
numpy>=2.4.3
pyTelegramBotAPI>=4.14.0
requests>=2.31.0
